:root {
    /* sizes */
    --block-max-width: 1080px;

    /* fonts */
    --main-font: "Inter", sans-serif;
    --second-font: "Montserrat", sans-serif;
}

body {
    background: var(--color-main-back);
    font-family: var(--main-font);
    transition: background .3s ease-in-out;
}

.container {
    max-width: var(--block-max-width);
    margin: 0 auto;
    position: relative;
}