:root {
    --color-main-cta: #bdff2e;
    --color-dop-cta: #72cc0b;
    --color-main-back: #f6f4f4;
    --color-dop-back: #ffffff;
    --color-hover: #fafafa;
    --color-main-text: #222325;
    --color-dop-text: #8a8c8f;
    --color-border: linear-gradient(90deg, #696d7200 0%, #4e5255 50%, #696d7200 100%);
    --color-grey: #d1d1d1;
    --color-light-grey: #f0f0f0;
    --color-black: #f0f0f0;
    --color-deep-grey: #e3e3e3;
    --color-drop-shadow: #00000066;
    --color-error: #ff3838;
    --color-allert: #ffba0a;
    --color-menu-hover: #d8d8d8;

    &.dark {
        --color-main-cta: #bdff2e;
        --color-dop-cta: #91d742;
        --color-main-back: #171717;
        --color-dop-back: #212121;
        --color-hover: #1c1c1c;
        --color-main-text: #f0f0f0;
        --color-dop-text: #696d72;
        --color-border: linear-gradient(90deg, rgba(128, 128, 128, 0) 0%, #808080 50%, rgba(128, 128, 128, 0) 100%);
        --color-grey: #d1d1d1;
        --color-light-grey: #262626;
        --color-black: #0d0d0d;
        --color-deep-grey: #e3e3e3;
        --color-drop-shadow: #000000;
        --color-error: #ff3838;
        --color-allert: #ffba0a;
        --color-menu-hover: #333333;
    }
}